@font-face {
  font-family: "Bangers";
  src: url("assets/fonts/Bangers-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "RockSalt";
  src: url("assets/fonts/RockSalt-Regular.ttf") format("truetype");
}
@view-transition {
	navigation: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    color: #222;
}
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 60px 16px;

    .container {
        max-width: 700px;

        .addtoany_shortcode {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid #666;
        }
        .title {
            font-family: "RockSalt", sans-serif;
            font-size: 32px;
            display: block;
            margin-bottom: 16px;
        }
    }
}
#index {
    header {
        width: 100%;
        background-image: url("assets/images/bg.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 100px 0;
        position: relative;

        @media screen and (max-width: 768px) {
            padding: 60px 0;
        }
        a {
            display: block;
            margin: 0 auto;
            padding: 0 16px;
        }
        h1 {
            font-family: "RockSalt", sans-serif;
            text-align: center;
            font-size: 90px;
            line-height: 1;
            color: white;
            margin: 0;
            position: relative;
            z-index: 9;

            @media screen and (max-width: 768px) {
                font-size: 45px;
            }
        }
        h2 {
            font-family: "Bangers", sans-serif;
            text-align: center;
            font-size: 40px;
            color: white;
            margin: 20px;
            position: relative;
            z-index: 9;

            @media screen and (max-width: 768px) {
                font-size: 25px;
            }
        }
        .header-overlay {
            background-color: black;
            opacity: 0.6;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}
#notfound {
    text-align: center;
    font-size: 22px;
    
    .container {
        padding: 60px 16px;

        strong {
            font-size: 110px;
            line-height: 1;
        }
        p {
            text-transform: uppercase;
        }
        a {
            color: #fff;
            background-color: #d30b0b;
            align-items: center;
            padding: 6px 12px;
            border-radius: 12px;
            font-weight: bold;

            &:hover {
                background-color: #b10404;
            }
        }
    }
}
#single {
    header {
        width: 100%;
        background-size: cover;
        background-position: center center;
        padding: 40px 0 70px;
        position: relative;

        h1 {
            font-family: "RockSalt", sans-serif;
            text-align: center;
            font-size: 30px;
            line-height: 40px;
            color: white;
            margin: 0 auto;
            position: relative;
            z-index: 9;
            max-width: 960px;
        }
        .header-overlay {
            background-color: black;
            opacity: 0.6;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    section {
        background-color: #fafafa;
    }
    .comic {
        display: block;
        width: 100%;
        max-width: 700px;
        margin: 40px auto;

        object {
            height: 700px;

            a {
                color: #fff;
                background-color: #d30b0b;
                align-items: center;
                padding: 6px 12px;
                border-radius: 12px;
                font-weight: bold;

                &:hover {
                    background-color: #b10404;
                }
            }
        }
        .comic-data {
            span {
                display: block;
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
    .home-link {
        position: fixed;
        z-index: 999;
        display: flex;
        color: #fff;
        background-color: #d30b0b;
        align-items: center;
        padding: 6px 12px;
        border-radius: 12px;
        font-weight: bold;
        top: 22px;
        right: 22px;

        &:hover {
            background-color: #b10404;
        }
        img {
            width: 20px;
            height: 20px;
            margin-left: 6px;
            object-fit: contain;
            filter: invert(1) brightness(1);
        }
    }
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}
.items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 60px 0px;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 475px) {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 0px;
    }
    .item {
        box-shadow: 0px 5px 10px #ddd;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;

        &:hover {
            .item-img img {
                transform: scale(1.1) rotate(3deg);
            }
        }
        .item-author {
            margin: 10px 0 0;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: -0.1px;
            color: #444;
        }
        .item-title {
            font-family: "Bangers", sans-serif;
            font-size: 22px;
            letter-spacing: 0.5px;
            margin: 10px 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 45px;

            @media screen and (max-width: 475px) {
                height: inherit;
            }
        }
        .item-img {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            z-index: 2;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                transition: all 0.3s;
                z-index: 1;

                @media screen and (max-width: 768px) {
                    height: 225px;
                }
                @media screen and (max-width: 475px) {
                    height: 150px;
                }
            }
        }
    }
}
.last {
    font-family: "Bangers", sans-serif;
    font-size: 28px;
    width: fit-content;
    margin: -26px auto 0;
    position: relative;
    background-color: #fff;
    z-index: 9;
    padding: 12px 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    span {
        font-size: 20px;
        margin-right: 6px;
    }
}
.overlay {
    background: radial-gradient(circle, rgba(0,0,0,0.25) 1px, transparent 1px);
    background-size: 6px 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.pagination {
    text-align: center;
    font-size: 17px;
    border-top: 1px solid #ddd;
    padding: 20px 0;

    .prev, .next {
        font-weight: bold;
        margin: 0 12px;
    }
    .current {
        color: #666;
    }
}